checkpoints/
roi/
finetune_stopped/
None/
outputs/
full_video/
avhubert/clustering/
avhubert/misc/
roi_*
ctc_*
base_*
base/
visg/
visg_noise/
*.pt
**/__pycache__/
*.csv
.vscode/
assets/
ffmpeg
avhubert/scripts/*_LRS2.sh